<div class="uk-margin uk-width-expand uk-margin-auto">
    <h3 class="uk-text-center">Add Stadium</h3>
    {{> error }}
    <form class="uk-form-stacked uk-text-left" action="add-stadium" method="POST" enctype="multipart/form-data">
        <div class="uk-grid uk-grid-stack">
            <div class="uk-width-expand">
                <div class="uk-margin">
                    <label class="uk-form-label" for="form-stacked-text">Name:</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" id="form-stacked-text" type="text" name="name"
                            placeholder="e.g. Nou Camp" />
                    </div>
                </div>
                <div class="uk-margin">
                    <div class="uk-form-label">Country:</div>
                    <select class="uk-select" id="form-stacked-text" name="country">
                        <option value="England">England</option>
                        <option value="France">France</option>
                        <option value="Germany">Germany</option>
                        <option value="Italy">Italy</option>
                        <option value="Spain">Spain</option>
                    </select>
                </div>
                <div class="uk-margin">
                    <div class="uk-form-label">City:</div>
                    <input class="uk-input" id="form-stacked-text" type="text" name="city"
                        placeholder="e.g. Barcelona" />
                </div>
                <div class="uk-margin">
                    <div class="uk-form-label">Capacity:</div>
                    <input class="uk-input" id="form-stacked-text" type="number" name="capacity"
                        placeholder="e.g. 99354" />
                </div>
                <div class="uk-margin">
                    <div class="uk-form-label">Year built:</div>
                    <input class="uk-input" id="form-stacked-text" type="number" name="built" placeholder="e.g. 1957" />
                </div>
                <div class="uk-margin">
                    <div class="uk-form-label">Club:</div>
                    <input class="uk-input" id="form-stacked-text" type="name" name="club"
                        placeholder="e.g. FC Barcelona" />
                </div>
                <div class="uk-margin">
                    <div class="uk-form-label">Image:</div>
                    <input type="file" name="imagefile" accept="image/png, image/jpeg">
                </div>
                <div class="uk-width-1">
                    <div class="uk-margin">
                        <button class="submit uk-button uk-button-secondary uk-button-large uk-width-1-1">Add
                            Stadium</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>