<div class="uk-margin uk-width-expand uk-margin-auto">
    <form class="uk-form-stacked uk-text-left" action="/add-stadium" method="POST">
        <div class="uk-grid uk-grid-stack">
            <div class="uk-width-expand">
                <div class="uk-margin">
                    <label class="uk-form-label" for="form-stacked-text">Name:</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" id="form-stacked-text" type="text" name="name"
                            placeholder="e.g. Aviva Stadium" />
                    </div>
                </div>
                <div class="uk-margin">
                    <div class="uk-form-label">Location:</div>
                    <div class="uk-form-controls">
                        <input class="uk-input" id="form-stacked-text" type="text" name="location"
                            placeholder="e.g. Dublin, Ireland" />
                    </div>
                </div>
                <div class="uk-margin">
                    <div class="uk-form-label">Capacity:</div>
                    <div class="uk-form-controls">
                        <input class="uk-input" id="form-stacked-text" type="number" name="capacity"
                            placeholder="e.g. 51700" />
                    </div>
                </div>
                <div class="uk-margin">
                    <div class="uk-form-label">Built:</div>
                    <div class="uk-form-controls">
                        <input class="uk-input" id="form-stacked-text" type="number" name="built" placeholder="e.g. 2007" />
                    </div>
                </div>
                <div class="uk-margin">
                    <div class="uk-form-label">Team(s):</div>
                    <div class="uk-form-controls">
                        <input class="uk-input" id="form-stacked-text" type="name" name="teams"
                            placeholder="e.g. Rep. of Ireland National Team" />
                    </div>
                </div>
                <div class="uk-width-1">
                    <div class="uk-margin">
                        <button class="submit uk-button uk-button-secondary uk-button-large uk-width-1-1">Add Stadium</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>