<nav class="uk-navbar" uk-navbar>
    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
            <li>
                <a target="”_blank”" href="https://github.com/TonyN96/european-stadiums">
                    <i class="fab fa-github fa-3x" style="color:light-gray"  uk-tooltip="Source Repo"></i>
                </a>
            </li>
            <li>
                <a href="/home">
                    <i class="fas fa-home fa-3x" style="color:light-gray"  uk-tooltip="Home"></i>
                </a>
            </li>
            <li>
                <a href="/settings">
                    <i class="fas fa-sliders-h fa-3x" style="color:light-gray"  uk-tooltip="Settings"></i>
                </a>
            </li>
            <li>
                <a href="/logout">
                    <i class="fas fa-sign-out-alt fa-3x" style="color:light-gray"  uk-tooltip="Sign Out"></i>
                </a>
            </li>
        </ul>
    </div>
</nav>