<nav class="uk-navbar uk-padding-small uk-container" uk-navbar>

    <div class="uk-navbar-left">
        <div class="uk-text-left uk-text-large">
            <a href="/home" class="uk-link-heading">
                <i class="fas fa-futbol"></i> European Stadiums
            </a>
        </div>
    </div>

    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
            <li>
                <a href="#" style="cursor: default;" class="uk-text-muted uk-text-small uk-text-middle">{{username}}</a>
            </li>
            <li>
                <a target="”_blank”" href="https://github.com/TonyN96/european-stadiums">
                    <i class="fab fa-github fa-3x" uk-tooltip="Source Repo"></i>
                </a>
            </li>
            <li>
                <a href="/home">
                    <i class="fas fa-home fa-3x" uk-tooltip="Home"></i>
                </a>
            </li>
            <li>
                <a href="/settings">
                    <i class="fas fa-user-circle fa-3x" uk-tooltip="Account"></i>
                </a>
            </li>
            <li>
                <a href="/logout">
                    <i class="fas fa-sign-out-alt fa-3x" uk-tooltip="Sign Out"></i>
                </a>
            </li>
        </ul>
    </div>

</nav>