<div class="uk-width-2-3">
  <div class="uk-grid">
    <div class="uk-width-expand uk-text-left">
      <div class="title">
        {{title}}
      </div>
      <div class="uk-text-muted uk-text-small">
        {{subTitle}}
      </div>
    </div>
  </div>
</div>