<nav class="uk-navbar" uk-navbar>
    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
            <li>
                <a href="/signup">
                    <i class="fas fa-user-plus fa-3x" style="color:light-gray"  uk-tooltip="Signup"></i>
                </a>
            </li>
            <li>
                <a href="/login">
                    <i class="fas fa-sign-in-alt fa-3x" style="color:light-gray"  uk-tooltip="Login"></i>
                </a>
            </li>
        </ul>
    </div>
</nav>