{{> main-menu title="European Stadiums" subTitle="Add Stadium"}}

<div class="uk-container uk-margin">
    <div class="uk-width-expand uk-flex-center uk-flex-middle uk-text-center uk-grid uk-margin-top">
        <div class="uk-width-expand">
            <img width="500" src="images/stadium.jpg"/>
        </div>
        {{> add-stadium-form }}
    </div>
</div>
