<div class="uk-flex uk-flex-center uk-flex-middle uk-grid-small" uk-grid>
    {{> main-menu title="European Stadiums" subTitle="Edit Stadiums"}}
</div>

<div class="uk-container uk-margin">
    <div class="uk-width-expand uk-flex-center uk-flex-middle uk-text-center uk-grid uk-margin-top">
        <div class="uk-width-expand">
            <img width="500" src="images/stadium.jpg"/>
        </div>
        {{> stadium-form }}
    </div>
</div>
