<div class="uk-flex uk-flex-center uk-flex-middle uk-grid-small" uk-grid>
    {{> title-card title="European Stadiums" subTitle="Home"}}
    {{> main-menu }}
</div>

<div class="uk-container uk-margin">
    <div class="uk-width-expand uk-flex-center uk-flex-middle uk-text-center uk-grid uk-margin-top">
        {{> error }}
        {{> list-stadiums}}
    </div>
</div>