{{> main-menu title="European Stadiums" subTitle="Home"}}


<div class="uk-container uk-margin">
    <div class="uk-width-expand uk-flex-center uk-flex-middle uk-text-center uk-grid uk-margin-top">
        {{> list-stadiums}}
    </div>
    {{> error }}
</div>