{{> main-menu username=username }}

<div class="uk-container uk-margin">
    <div class="uk-width-expand uk-flex-center uk-flex-middle uk-text-center" uk-grid>
        <div class="uk-width-1-2">
            <img src="https://res.cloudinary.com/dczqccpne/image/upload/v1615905509/france-denmark-football-soccer_bpjcwj.jpg">
        </div>
        <div class="uk-width-1-2">
            <h3 class="uk-text-center">Edit Your Details</h3>
            {{> settings-form}}
        </div>
    </div>
</div>