<div class="uk-flex uk-flex-center uk-flex-middle uk-grid-small" uk-grid>
    {{> main-menu title="European Stadiums" subTitle="Settings"}}
</div>

<div class="uk-container uk-margin">
    <div class="uk-width-expand uk-flex-center uk-flex-middle uk-text-center" uk-grid>
        <div class="uk-width-1-2">
            <img src="images/stadium.png">
        </div>
        <div class="uk-width-1-2">
            <h3 class="uk-text-center">Your Details: </h3>
            {{> settings-form}}
        </div>
    </div>
</div>